@use "variables" as *;
@use "mixins" as *;

$comp: "photoframe";

@include lf-comp-setup($comp);

:host {
  @include lf-el-stretch;
  box-sizing: border-box;
  position: relative;
}

#lf-component {
  position: relative;
}

/**
* IMPORTANT!
* CSS Custom Properties are documented here to allow the Stencil auto-Docs
* generator to pick them up, but their actual definitions are in the FC mixin.
*
* @prop --lf-#{$comp}-fade-out-time: Sets the fade out time for the placeholder of the #{$comp} component.
*                                    Defaults to => 1750ms
* @prop --lf-#{$comp}-image-fit: Sets the object fit for the image of the #{$comp} component.
*                                Defaults to => cover
* @prop --lf-#{$comp}-overlay-zindex: Sets the z-index for the overlay of the #{$comp} component.
*                                     Defaults to => 2
* @prop --lf-#{$comp}-placeholder-fit: Sets the object fit for the placeholder of the #{$comp} component.
*                                      Defaults to => cover
*/
