@use "variables" as *;
@use "mixins" as *;
@use "./style.messages" as sm with (
  $comp: "chat"
);

$comp: "chat";
@include lf-comp-setup("chat", "false", "false", "false", "false", "true");

:host {
  @include lf-el-stretch;
}

#lf-component {
  position: relative;
}

.chat {
  & {
    @include lf-comp-color(
      $comp,
      "bg",
      "all",
      var(--lf-ui-alpha-glass-hint, 0.125)
    );
    box-sizing: border-box;
    display: grid;
    height: 100%;
    margin: auto;
    /**
    * @prop --lf-#{$comp}-padding: Sets the padding for the #{$comp} component.
    *                              Defaults to => 1em
    */
    padding: var(--lf-#{$comp}-padding, 1em 0);
  }

  &--bottom {
    align-content: center;
    /**
    * @prop --lf-#{$comp}-outer-grid-gap: Sets the outer grid gap for the #{$comp} component.
    *                                     Defaults to => 0.75em
    */
    grid-gap: var(--lf-#{$comp}-outer-grid-gap, 0.75em);
    grid-template-areas:
      "messages"
      "spinner"
      "attachments"
      "request";
    grid-template-rows: 1fr repeat(3, auto);
  }

  &--top {
    grid-gap: var(--lf-#{$comp}-outer-grid-gap, 0.75em);
    grid-template-areas:
      "request"
      "attachments"
      "messages"
      "spinner";
    grid-template-rows: repeat(2, auto) 1fr auto;
  }

  &--connecting,
  &--offline {
    grid-template-areas: none;
    grid-template-rows: repeat(3, auto);
  }

  &__attachments {
    box-sizing: border-box;
    grid-area: attachments;
    height: auto;
    min-height: 0;
    /**
    * @prop --lf-#{$comp}-attachments-padding: Sets the attachments padding for the #{$comp} component.
    *                                          Defaults to => 0 1em
    */
    padding: var(--lf-#{$comp}-attachments-padding, 0);
    width: 100%;
  }

  &__configuration {
    justify-self: center;
  }

  &__edit-container {
    display: grid;
    grid-template-rows: 1fr auto;
  }

  &__edit-buttons {
    display: flex;
    justify-content: center;
  }

  &__error {
    display: grid;
    grid-template-rows: repeat(3, auto);
    padding: 2em;
  }

  &__icon {
    @include f-icon($comp, "bg", 4em, 0.75);
    justify-self: center;
    margin-bottom: 0.75em;
  }

  &__spinner {
    min-height: 3em;
  }

  &__spinner-bar {
    bottom: 0;
    grid-area: spinner;
    height: 0.25em;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &__text {
    @include lf-el-text("subtitle");
    font-style: italic;
    opacity: 0.6;
    text-align: center;
  }

  &__title {
    @include lf-el-text("title");
    text-align: center;
  }
}

.request {
  box-sizing: border-box;
  grid-area: request;
  max-width: 100%;
  /**
  * @prop --lf-#{$comp}-inner-padding: Sets the inner padding for the #{$comp} component.
  *                                    Defaults to => 0 1em
  */
  padding: var(--lf-#{$comp}-inner-padding, 0 1em);
  width: 100%;
}

.commands {
  & {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    /**
    * @prop --lf-#{$comp}-buttons-padding: Sets the padding for the buttons of the #{$comp} component.
    *                                      Defaults to => 1em 0
    */
    padding: var(--lf-#{$comp}-buttons-padding, 1em 0);
  }

  &__clear,
  &__stt {
    backdrop-filter: unset;
  }

  &__stt {
    padding: 0 1em;
  }
}

.input {
  & {
    display: grid;
    grid-template-areas:
      "image textarea button"
      "file progressbar button";
    grid-template-columns: auto 1fr auto;
  }

  &__attach-file {
    grid-area: file;
  }

  &__attach-image {
    grid-area: image;
  }

  &__button {
    grid-area: button;
  }

  &__progressbar {
    grid-area: progressbar;
  }

  &__textarea {
    grid-area: textarea;
    overflow-x: hidden;
  }
}

.settings {
  & {
    display: grid;
    grid-gap: 0.5em;
    grid-template-rows: auto 1fr;
    height: 100%;
  }

  &__configuration {
    overflow: auto;
  }

  &__header {
    display: flex;
    width: 100%;
  }

  &__textfield {
    box-sizing: border-box;
    padding-top: 0.75em;
  }

  &__textarea {
    box-sizing: border-box;
    overflow: hidden;
    padding-top: 0.75em 0;
  }
}

.toolbar {
  & {
    @include lf-comp-color(
      $comp,
      "surface",
      "all",
      var(--lf-ui-alpha-glass-solid, 0.875)
    );
    /**
    * @prop --lf-#{$comp}-border-radius: Sets the border radius for the #{$comp} component.
    *                                    Defaults to => var(--lf-ui-border-radius)
    */
    border-bottom-left-radius: var(
      --lf-#{$comp}-border-radius,
      var(--lf-ui-border-radius)
    );
    border-bottom-right-radius: var(
      --lf-#{$comp}-border-radius,
      var(--lf-ui-border-radius)
    );
    box-sizing: border-box;
    justify-content: flex-end;
    padding: 0.5em;
    width: 100%;
  }

  &__button {
    margin: 0 2px;
  }

  &__buttons {
    display: flex;
    gap: 0.5em;
    justify-content: flex-end;
    width: 100%;
  }

  &__tool-execution {
    justify-self: left;
    overflow: auto;
  }
}
