# Ignore accidental foundations artifacts mirrored inside core
packages/core/foundations
# Ignore accidental framework artifacts mirrored inside core
packages/core/framework
# Ignore compiled or stray JS test artifacts (prefer .ts specs)
packages/core/tests/*.js
# Yarn
.yarn/cache
.yarn/install-state.gz

# Node
.env
*.log
.stencil/
.vscode/
**/node_modules/

# Output
**/coverage/
**/dist/
**/downloads/
**/screenshots/
**/videos/
**/www/
**/components.d.ts
**/lib/components

packages/core/doc.json
packages/core/doc.d.ts