@use "variables" as *;
@use "mixins" as *;

$comp: "image";
@include lf-comp-setup("image", "true", "false", "true", "false", "true");

:host,
#lf-component,
.image {
  height: var(--lf_#{$comp}_height, 0);
  position: relative;
  width: var(--lf_#{$comp}_width, 0);
}

.image {
  &__icon,
  &__img {
    display: block;
    height: var(--lf_#{$comp}_height, 0);
    /**
    * @prop --lf-#{$comp}-margin: Sets the margin for the #{$comp} component.
    *                             Defaults to => auto
    */
    margin: var(--lf-#{$comp}-margin, auto);
    width: var(--lf_#{$comp}_width, 0);
  }

  &__icon {
    @include lf-comp-color(
      $comp,
      "primary",
      "text",
      var(--lf-ui-alpha-glass-solid, 0.875),
      "true"
    );
    @include lf-el-transition;
  }

  &__img {
    /**
      * @prop --lf-#{$comp}-object-fit: Sets the object fit for the image element.
      *                                 Defaults to => cover
      */
    object-fit: var(--lf-#{$comp}-object-fit, cover);
  }
}
