@use "variables" as *;
@use "mixins" as *;

$comp: "image";

@include lf-comp-setup("image", "true", "false", "true", "false", "true");

:host,
#lf-component {
  height: var(--lf_#{$comp}_height, 0);
  position: relative;
  width: var(--lf_#{$comp}_width, 0);
}

/**
* IMPORTANT!
* CSS Custom Properties are documented here to allow the Stencil auto-Docs
* generator to pick them up, but their actual definitions are in the FC mixin.
*
* @prop --lf-#{$comp}-color-primary: Sets the primary color for the icon.
*                                    Defaults to => var(--lf-fc-color-primary, var(--lf-color-primary))
* @prop --lf-#{$comp}-margin: Sets the margin for the #{$comp} component.
*                             Defaults to => auto
* @prop --lf-#{$comp}-object-fit: Sets the object fit for the #{$comp} element.
*                                 Defaults to => cover
*/
