@use "variables" as *;
@use "mixins" as *;

$comp: "placeholder";

@include lf-comp-setup($comp, "false", "false", "true");

:host {
  @include lf-el-stretch;
  position: relative;
}

@keyframes shine {
  0% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0.4;
  }
}

/**
* IMPORTANT!
* CSS Custom Properties are documented here to allow the Stencil auto-Docs
* generator to pick them up, but their actual definitions are in the FC mixin.
*
* @prop --lf-#{$comp}-hor-alignment: Sets the horizontal alignment for the #{$comp} component.
*                                    Defaults to => center
* @prop --lf-#{$comp}-ver-alignment: Sets the vertical alignment for the #{$comp} component.
*                                    Defaults to => center
*/
