@use "variables" as *;
@use "mixins" as *;

$comp: "shapeeditor";
$borderC: 1px solid rgba(var(--lf-color-border));
@include lf-comp-setup($comp, "false", "false", "true", "false", "true");

:host {
  @include lf-comp-color(
    $comp,
    "bg",
    "all",
    var(--lf-ui-alpha-glass-hint, 0.125)
  );
  display: block;
  height: 100%;
  max-height: inherit;
  min-height: 0;
  width: 100%;
}

// #region Root container
.shapeeditor {
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: inherit;
  min-height: 0;
  width: 100%;

  &__grid {
    & {
      @include lf-comp-border($comp);
      box-sizing: border-box;
      display: grid;
      flex: 1;
      grid-template-areas:
        "navigation preview"
        "navigation settings";
      grid-template-columns: 100% 0;
      grid-template-rows: 1fr 1fr;
      min-height: 0;
      overflow: hidden;
    }

    &--selected {
      & {
        /**
        * @prop --lf-#{$comp}-nav-ratio: Sets the navigation column width ratio.
        *                                Defaults to => 0.3 (30%)
        */
        grid-template-columns:
          minmax(200px, var(--lf-#{$comp}-nav-ratio, 0.3fr))
          1fr;
      }
    }
  }
}
// #endregion

// #region Navigation panel
.navigation {
  & {
    box-sizing: border-box;
    display: grid;
    grid-area: navigation;
    grid-template-areas: "masonry";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: 0;
    min-width: 0;
    overflow: hidden;
  }

  &--has-nav {
    & {
      grid-template-areas: "explorer masonry";
      grid-template-columns: auto 1fr;
    }

    .explorer {
      display: grid;
    }
  }

  &--has-drawer {
    & {
      /**
      * @prop --lf-#{$comp}-nav-width: Sets the width for the navigation tree panel.
      *                              Defaults to => 200px
      */
      grid-template-columns: var(--lf-#{$comp}-nav-width, 200px) 1fr;
    }
  }

  &--has-header {
    & {
      grid-template-areas:
        "jump"
        "masonry";
      grid-template-rows: auto 1fr;
    }

    &.navigation--has-nav {
      & {
        grid-template-areas:
          "explorer jump"
          "explorer masonry";
      }
    }
  }

  &__masonry {
    grid-area: masonry;
    min-height: 0;
    overflow: auto;
    position: relative;
  }
}
// #endregion

// #region Explorer sub-block
.explorer {
  & {
    border-right: $borderC;
    box-sizing: border-box;
    grid-area: explorer;
    grid-template-columns: auto;
    min-height: 0;
    overflow: hidden;
  }

  &--has-drawer {
    grid-template-columns: 1fr auto;
  }

  &__tree {
    min-height: 0;
    overflow: auto;
  }

  &__expander {
    border-left: $borderC;
    box-sizing: border-box;
  }
}
// #endregion

// #region Jump sub-block
.jump {
  & {
    display: grid;
    grid-area: jump;
    grid-template-areas:
      "textfield"
      "load";
    grid-template-rows: auto auto;
    padding: 0;
  }

  &__textfield {
    grid-area: textfield;
    padding: 0;
  }

  &__load {
    grid-area: load;
    padding-bottom: 0.75em;
  }
}
// #endregion

// #region Preview panel
.preview {
  & {
    --lf-chart-min-height: var(--lf-#{$comp}-chart-min-height, 150px);

    border-bottom: $borderC;
    box-sizing: border-box;
    display: grid;
    grid-area: preview;
    grid-template-areas: "shape";
    grid-template-columns: 1fr;
    min-height: 0;
    overflow: hidden;
    position: relative;
  }

  &--has-history {
    grid-template-areas: "history shape";
    grid-template-columns: auto 1fr;
  }

  &__shape {
    align-content: center;
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  &__spinner {
    @include lf-el-stretch;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
  }
}
// #endregion

// #region History sub-block
.history {
  & {
    border-right: $borderC;
    box-sizing: border-box;
    display: grid;
    grid-area: history;
    max-width: 200px;
    min-height: 0;
    min-width: 120px;
    overflow: auto;
    padding: 0.5em;
  }

  &__list {
    @include lf-el-stretch;
  }
}
// #endregion

// #region Settings panel
.settings {
  & {
    @include lf-el-transition("elastic-snap");
    box-sizing: border-box;
    display: grid;
    grid-area: settings;
    grid-template-areas:
      "actions actions"
      "progressbar progressbar"
      "tree controls";
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto 1fr;
    min-height: 0;
    overflow: hidden;
    position: relative;
  }

  &__progressbar {
    & {
      @include lf-el-transition("slow-start");
      grid-area: progressbar;
      height: 1em;
      left: 0;
      opacity: 1;
      pointer-events: none;
      position: absolute;
      top: 0;
      z-index: 30;
    }

    &--hidden {
      opacity: 0;
    }
  }

  &__tree {
    border-right: $borderC;
    box-sizing: border-box;
    grid-area: tree;
    min-height: 0;
    overflow: auto;
  }
}
// #endregion

// #region Actions sub-block
.actions {
  & {
    border-bottom: $borderC;
    box-sizing: border-box;
    display: flex;
    /**
    * @prop --lf-#{$comp}-actions-gap: Sets the gap between action items.
    *                                  Defaults to => 0
    */
    gap: var(--lf-#{$comp}-actions-gap, 0);
    grid-area: actions;
    /**
    * @prop --lf-#{$comp}-actions-padding: Sets the padding for the actions area.
    *                                      Defaults to => 0
    */
    padding: var(--lf-#{$comp}-actions-padding, 0);
  }
}
// #endregion

// #region Controls sub-block
.controls {
  & {
    box-sizing: border-box;
    display: grid;
    grid-area: controls;
    grid-template-areas:
      "snackbar"
      "items"
      "control-actions";
    grid-template-rows: auto 1fr auto;
    min-height: 0;
    overflow: hidden;
  }

  &__snackbar {
    border-bottom: 1px solid var(--lf-color-border);
    grid-area: snackbar;
    max-width: 100%;
    width: 100%;
    z-index: 20;
  }
}
// #endregion

// #region Items sub-block
.items {
  & {
    grid-area: items;
    min-height: 0;
    overflow: auto;
  }

  &__item {
    align-items: center;
    display: flex;
    padding: 0.5em 1em;
  }

  &__info {
    height: 1.5em;
    width: 1.5em;
  }
}
// #endregion

// #region ControlActions sub-block
.control-actions {
  & {
    border-top: $borderC;
    box-sizing: border-box;
    display: flex;
    gap: 0.5em;
    grid-area: control-actions;
    justify-content: flex-end;
    /**
    * @prop --lf-#{$comp}-control-actions-padding: Sets the padding for the control actions area.
    *                                            Defaults to => 0
    */
    padding: var(--lf-#{$comp}-control-actions-padding, 0);
  }
}
// #endregion
