@use "variables" as *;
@use "mixins" as *;

$comp: "shapeeditor";
$borderC: 1px solid rgba(var(--lf-color-border));
@include lf-comp-setup($comp, "false", "false", "true", "false", "true");

:host {
  @include lf-comp-color(
    $comp,
    "bg",
    "all",
    var(--lf-ui-alpha-glass-hint, 0.125)
  );
  @include lf-el-stretch;
}

.shapeeditor {
  @include lf-el-stretch;
}

.main-grid {
  & {
    @include lf-comp-border($comp);
    @include lf-el-stretch;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100% 0;
    overflow: auto;
  }

  &--selected {
    & {
      grid-template-columns: 30% 70%;
    }

    .details-grid {
      display: grid;
    }
  }
}

.navigation-grid {
  & {
    @include lf-el-stretch;
    box-sizing: border-box;
    display: grid;
    grid-template-areas:
      "textfield"
      "button"
      "masonry";
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto) 1fr;
    overflow: hidden;
  }

  &--has-nav {
    & {
      grid-template-areas:
        "nav-toggle textfield"
        "nav-toggle button"
        "nav-toggle masonry";
      grid-template-columns: auto 1fr;
    }

    .navigation-grid__nav-toggle {
      display: block;
    }
  }

  &--has-drawer {
    & {
      grid-template-areas:
        "tree nav-toggle textfield"
        "tree nav-toggle button"
        "tree nav-toggle masonry";
      /**
      * @prop --lf-#{$comp}-nav-width: Sets the width for the navigation panel.
      *                              Defaults to => auto
      */
      grid-template-columns: var(--lf-#{$comp}-nav-width, auto) auto 1fr;
    }

    .navigation-grid__tree {
      display: grid;
    }
  }

  &__button {
    grid-area: button;
    padding-bottom: 0.75em;
  }

  &__masonry {
    grid-area: masonry;
    overflow: auto;
    position: relative;
  }

  &__nav-toggle {
    border-right: $borderC;
    box-sizing: border-box;
    display: none;
    grid-area: nav-toggle;
  }

  &__textfield {
    grid-area: textfield;
    padding: 0;
  }

  &__tree {
    display: none;
    grid-area: tree;
    overflow: auto;
  }
}

.details-grid {
  & {
    @include lf-el-stretch;
    border-left: $borderC;
    box-sizing: border-box;
    display: none;
    grid-template-areas: "image image" "actions actions" "tree settings";
    grid-template-columns: 40% 1fr;
    grid-template-rows: 60% auto 1fr;
    overflow: auto;
  }

  &__actions {
    border-left: $borderC;
    box-sizing: border-box;
    display: flex;
    grid-area: actions;
  }

  &__control-item {
    align-items: center;
    display: flex;
    padding: 0.5em 1em;
  }

  &__info-icon {
    height: 1.5em;
    width: 1.5em;
  }

  &__preview {
    --lf-chart-min-height: var(--lf-#{$comp}-chart-min-height, 150px);

    align-content: center;
    border-bottom: $borderC;
    box-sizing: border-box;
    display: grid;
    grid-area: image;
    overflow: hidden;
    position: relative;
  }

  &__shape {
    max-height: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  &__spinner {
    @include lf-el-stretch;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
  }

  &__tree {
    border-right: $borderC;
    box-sizing: border-box;
    grid-area: tree;
    overflow: auto;
  }

  &__settings {
    grid-area: settings;
    overflow: auto;
  }
}
