@use "variables" as *;
@use "mixins" as *;

$comp: null !default;

.node {
  & {
    @include lf-comp-border($comp);
    @include lf-comp-color(
      $comp,
      "surface",
      "all",
      var(--lf-ui-alpha-glass, 0.375)
    );
    border-bottom: 0;
    border-top: 0;
    box-sizing: border-box;
    width: 100%;
  }

  &:not(:first-of-type) {
    @include lf-comp-border($comp, "border");
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }

  &__content {
    &,
    ::slotted(*) {
      @include lf-comp-border($comp, "radius");
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  &__header {
    & {
      @include lf-comp-border($comp, "radius");
      @include lf-comp-color($comp, "bg", "text");
      @include lf-el-transition;
      align-items: center;
      border: none;
      box-sizing: border-box;
      /**
      * @prop --lf-#{$comp}-cursor: Sets the cursor for the #{$comp} header.
      *                             Defaults to => pointer
      */
      cursor: var(--lf-#{$comp}-cursor, pointer);
      display: flex;
      flex-wrap: nowrap;
      /**
      * @prop --lf-#{$comp}-gap: Sets the gap of the #{$comp} header.
      *                          Defaults to => 0.5em
      */
      gap: var(--lf-#{$comp}-gap, 0.5em);
      /**
      * @prop --lf-#{$comp}-line-height: Sets the line height of the #{$comp} header.
      *                                  Defaults to => 1.75em
      */
      line-height: var(--lf-#{$comp}-line-height, 1.75em);
      outline: none;
      /**
      * @prop --lf-#{$comp}-padding: Sets the padding of the #{$comp} header.
      *                              Defaults to => 1em
      */
      padding: var(--lf-#{$comp}-padding, 1em);
      position: relative;
      /**
      * @prop --lf-#{$comp}-text-align: Sets the text alignment of the #{$comp} header.
      *                                 Defaults to => left
      */
      text-align: var(--lf-#{$comp}-text-align, left);
      width: 100%;
    }

    &:hover {
      @include lf-comp-color(
        $comp,
        "primary",
        "bg",
        var(--lf-ui-alpha-glass-hint, 0.125)
      );
    }

    &--expanded {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &--selected {
      & {
        @include lf-comp-color(
          $comp,
          "primary",
          "bg",
          var(--lf-ui-alpha-glass, 0.375)
        );
      }

      &:hover {
        @include lf-comp-color(
          $comp,
          "primary",
          "all",
          var(--lf-ui-alpha-glass-heavy, 0.75)
        );
      }
    }
  }

  &__text {
    & {
      @include lf-el-ellipsis;
      @include lf-el-stretch;
      @include lf-el-text("title");
      /**
      * @prop --lf-#{$comp}-text-margin: Sets the margin of the #{$comp} text.
      *                                  Defaults to => 0
      */
      margin: var(--lf-#{$comp}-text-margin, 0);
    }

    &--highlighted {
      @include lf-comp-color(
        $comp,
        "primary",
        "all",
        var(--lf-ui-alpha-glass, 0.375)
      );
    }
  }

  &__expand,
  &__icon {
    margin: 0;
  }

  &__icon {
    @include f-icon($comp);
    /**
    * @prop --lf-#{$comp}-icon-margin: Sets the margin of the #{$comp} icon.
    *                                  Defaults to => 0
    */
    margin: var(--lf-#{$comp}-icon-margin, 0);
  }

  &__expand {
    & {
      @include f-icon($comp);
      @include lf-el-transition;
      /**
      * @prop --lf-#{$comp}-expand-margin: Sets the margin of the #{$comp} expand icon.
      *                                    Defaults to => 0
      */
      margin: var(--lf-#{$comp}-expand-margin, 0);
    }

    &--expanded {
      transform: rotate(-180deg);
    }

    &--placeholder {
      visibility: hidden;
    }
  }
}
