// The output of this file will be the global styles for the app.
// It will be bundled with the theme.

@include lf-app-scrollbar;
@include lf-fw-neon-glow;
@include lf-fw-neon-glow-surface;
@include lf-fw-tilt;

.lf-effects {
  @include lf-fw-backdrop;
  @include lf-fw-lightbox;
}
.lf-portal {
  @include lf-fw-portal(true);
}
