@use "variables" as *;
@use "mixins" as *;

$comp: "chart";
@include lf-comp-setup($comp, "false", "false", "false", "false", "true");

:host {
  height: var(--lf_#{$comp}_height, 100%);
  min-height: var(--lf_#{$comp}_height, 100%);
  min-width: var(--lf_#{$comp}_width, 100%);
  width: var(--lf_#{$comp}_width, 100%);
}

.chart {
  @include lf-comp-color(
    $comp,
    "bg",
    "all",
    var(--lf-ui-alpha-glass-hint, 0.125)
  );
  @include lf-el-stretch;
}
