@use "variables" as *;
@use "mixins" as *;

$comp: "toast";

@include lf-comp-setup($comp, "true", "false", "true", "false", "true", 12px);

:host {
  @include lf-comp-border($comp, "radius");
  @include lf-el-stretch;
  animation: slideIn 250ms ease-out;
  box-sizing: border-box;
  z-index: var(--lf-ui-zindex-#{$comp}, 998);
}

/**
* IMPORTANT!
* CSS Custom Properties are documented here to allow the Stencil auto-Docs
* generator to pick them up, but their actual definitions are in the FC mixin.
*
* @prop --lf-#{$comp}-accent-height: Sets the height for the #{$comp} accent.
*                                    Defaults to => 0.25em
* @prop --lf-#{$comp}-icon-margin: Sets the margin for the #{$comp} icon.
*                                  Defaults to => auto 0.5em
* @prop --lf-#{$comp}-icon-opacity: Sets the opacity for the #{$comp} icon.
*                                   Defaults to => 1
* @prop --lf-#{$comp}-message-align-content: Sets the align-content for the #{$comp} message wrapper.
*                                            Defaults to => center
* @prop --lf-#{$comp}-message-padding: Sets the padding for the #{$comp} message.
*                                      Defaults to => 0.75em 0.75em 0.75em 0
* @prop --lf-#{$comp}-padding: Sets the padding for the #{$comp} message wrapper.
*                              Defaults to => 0.75em
*/
