@use "variables" as *;
@use "mixins" as *;
@use "./style.debug" as sd with (
  $comp: "card"
);
@use "./style.keywords" as sk with (
  $comp: "card"
);
@use "./style.material" as sm with (
  $comp: "card"
);
@use "./style.upload" as su with (
  $comp: "card"
);
@use "./style.weather" as sw with (
  $comp: "card"
);

$comp: "card";
@include lf-comp-setup($comp, "true", "true", "true", "false", "true", 4px);

:host {
  @include lf-comp-color($comp, "bg", "text");
  height: var(--lf_#{$comp}_height);
  min-height: var(--lf_#{$comp}_height);
  min-width: var(--lf_#{$comp}_width);
  width: var(--lf_#{$comp}_width);
}

#lf-component {
  @include lf-comp-border($comp, "radius");
}

/* local partials loaded above */
