@use "variables" as *;
@use "mixins" as *;

$comp: null !default;

.keywords-layout {
  & {
    @include lf-comp-border($comp, "radius");
    @include lf-comp-color($comp, "bg", "all", var(--lf-ui-alpha-glass, 0.375));
    @include lf-el-stretch;
    display: grid;
    grid-template-rows: 60% 1fr auto;
  }

  & ::part(chart) {
    backdrop-filter: unset;
    background-color: unset;
    -webkit-backdrop-filter: unset;
  }
}
