@use "./elements" as *;

/*******************************************
 * @mixin lf-app-scrollbar
 * Styles a custom scrollbar (WebKit-based).
 *******************************************/
@mixin lf-app-scrollbar {
  ::-webkit-scrollbar {
    width: 9px;
  }

  ::-webkit-scrollbar-thumb {
    @include lf-el-transition("elastic-snap");
    background-color: rgb(var(--lf-color-primary));
  }

  ::-webkit-scrollbar-track {
    background-color: rgb(var(--lf-color-bg));
  }
}
