@use "./elements" as *;

/*******************************************
 * @mixin lf-app-scrollbar
 * Styles a custom scrollbar (WebKit-based).
 * Uses * selector to target ALL scrollable elements.
 *******************************************/
@mixin lf-app-scrollbar {
  *::-webkit-scrollbar {
    width: 9px;
  }

  *::-webkit-scrollbar-thumb {
    @include lf-el-transition("elastic-snap");
    background-color: rgba(
      var(--lf-color-on-surface),
      var(--lf-ui-alpha-glass-solid)
    );
  }

  *::-webkit-scrollbar-track {
    background-color: rgb(var(--lf-color-surface));
  }
}
