@use "variables" as *;
@use "mixins" as *;

$comp: "checkbox";
@include lf-comp-setup($comp, "true", "true");

:host {
  @include lf-el-stretch;
  overflow: hidden;
}

.form-field {
  & {
    @include lf-comp-color($comp, "bg", "text");
    @include lf-el-stretch;
    @include lf-el-text("label");
    align-items: center;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: center;
    overflow: hidden;
    /**
    * @prop --lf-#{$comp}-form-padding: Sets the padding for the #{$comp} form field.
    *                                   Defaults to => 0.5em
    */
    padding: var(--lf-#{$comp}-form-padding, 0.5em);
    vertical-align: middle;
  }

  &__label {
    @include lf-el-ellipsis;
    cursor: pointer;
    /**
    * @prop --lf-#{$comp}-label-min-width: Sets the min-width for the #{$comp} label.
    *                                      Defaults to => max-content
    */
    min-width: var(--lf-#{$comp}-label-min-width, max-content);
    /**
    * @prop --lf-#{$comp}-label-padding-left: Sets the left padding for the #{$comp} label.
    *                                         Defaults to => 1em
    */
    padding-left: var(--lf-#{$comp}-label-padding-left, 1em);
  }

  &--leading {
    .form-field__label {
      margin-right: 0;
      order: -1;
      padding-left: 0;
      /**
      * @prop --lf-#{$comp}-label-padding-right: Sets the right padding for the #{$comp} label.
      *                                          Defaults to => 1em
      */
      padding-right: var(--lf-#{$comp}-label-padding-right, 1em);
    }
  }
}

.checkbox {
  & {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    /**
    * @prop --lf-#{$comp}-size: Sets the size for the #{$comp} component.
    *                           Defaults to => 1.5em
    */
    height: var(--lf-#{$comp}-size, 1.5em);
    justify-content: center;
    /**
    * @prop --lf-#{$comp}-margin: Sets the margin for the #{$comp} component.
    *                             Defaults to => 1em 0.5em
    */
    margin: var(--lf-#{$comp}-margin, 1em 0.5em);
    outline: none;
    position: relative;
    user-select: none;
    width: var(--lf-#{$comp}-size, 1.5em);
  }

  &:not(.checkbox--disabled):hover:before {
    @include lf-comp-glassmorphize($comp, "surface", "bg", 0.08, 12px, true);
    @include lf-el-transition("fade-in-out");
    border-radius: 50%;
    content: "";
    height: 2.5em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 2.5em;
    z-index: 0;
  }

  &:not(.checkbox--disabled):focus-within:before {
    @include lf-comp-glassmorphize($comp, "surface", "bg", 0.12, 12px, true);
  }

  &--checked,
  &--indeterminate {
    .checkbox__background {
      @include lf-comp-color($comp, "primary", "bg");
      border-color: transparent;
      /**
      * @prop --lf-#{$comp}-animation-duration: Sets the animation duration for state changes.
      *                                         Defaults to => 90ms
      */
      transition:
        border-color var(--lf-#{$comp}-animation-duration, 90ms)
          cubic-bezier(0.4, 0, 0.6, 1) 0ms,
        background-color var(--lf-#{$comp}-animation-duration, 90ms)
          cubic-bezier(0.4, 0, 0.6, 1) 0ms;
    }

    .checkbox__checkmark-path {
      stroke-dashoffset: 0;
    }
  }

  &--checked {
    .checkbox__checkmark {
      opacity: 1;
    }

    .checkbox__mixedmark {
      opacity: 0;
      transform: scaleX(0) rotate(0deg);
    }
  }

  &--indeterminate {
    .checkbox__checkmark {
      opacity: 0;
    }

    .checkbox__mixedmark {
      opacity: 1;
      transform: scaleX(1) rotate(0deg);
    }
  }

  &__native-control {
    appearance: none;
    cursor: pointer;
    height: 100%;
    left: 0;
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  &__background {
    @include lf-el-transition();
    @include lf-comp-glassmorphize($comp, "surface", "text", 0.6);
    /**
    * @prop --lf-#{$comp}-border-radius: Sets the border radius for the #{$comp} background.
    *                                    Defaults to => var(--lf-ui-border-radius)
    */
    align-items: center;
    border: 2px solid;
    border-radius: var(--lf-#{$comp}-border-radius, var(--lf-ui-border-radius));
    box-sizing: border-box;
    display: inline-flex;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
    z-index: 1;
  }

  &__checkmark {
    @include lf-comp-color($comp, "primary", "text");
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: opacity calc(var(--lf-#{$comp}-animation-duration, 90ms) * 2)
      cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  }

  &__checkmark-path {
    stroke-dasharray: 29.78;
    stroke-dashoffset: 29.78;
    /**
    * @prop --lf-#{$comp}-checkmark-stroke-width: Sets the stroke width for the checkmark.
    *                                             Defaults to => 3.12px
    */
    stroke-width: var(--lf-#{$comp}-checkmark-stroke-width, 3.12px);
    transition: stroke-dashoffset
      calc(var(--lf-#{$comp}-animation-duration, 90ms) * 2)
      cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  }

  &__mixedmark {
    @include lf-comp-color($comp, "primary", "bg", 1, "true");
    height: 2px;
    opacity: 0;
    transform: scaleX(0) rotate(0deg);
    /**
    * @prop --lf-#{$comp}-mixedmark-width: Sets the width for the #{$comp} mixed mark.
    *                                      Defaults to => 70%
    */
    width: var(--lf-#{$comp}-mixedmark-width, 70%);
    transition:
      opacity var(--lf-#{$comp}-animation-duration, 90ms)
        cubic-bezier(0.4, 0, 0.6, 1) 0ms,
      transform var(--lf-#{$comp}-animation-duration, 90ms)
        cubic-bezier(0.4, 0, 0.6, 1) 0ms;
  }
}
